{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 52,
        "browsers": "last 2 safari versions"
      },
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-default"
      }
    ]]
  ]
}
